<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
  <!-- SQL 매핑에서 사용되는 클래스의 별칭을 정의 -->
<configuration> 
<typeAliases>
 <typeAlias alias="mv" type="com.myaws1125.myapp.domain.MemberVo"/>
  <typeAlias alias="bv" type="com.myaws1125.myapp.domain.BoardVo"/>
 <typeAlias alias="scri" type="com.myaws1125.myapp.domain.SearchCriteria"/>

</typeAliases>
</configuration>